<%= form_with(model: pengguna, local: true) do |form| %>
  <% if pengguna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pengguna.errors.count, "error") %> prohibited this pengguna from being saved:</h2>

      <ul>
      <% pengguna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dispname %>
    <%= form.text_field :dispname %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
