<p id="notice"><%= notice %></p>

<p>
  <strong>Dispname:</strong>
  <%= @pengguna.dispname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @pengguna.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @pengguna.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pengguna.email %>
</p>

<%= link_to 'Edit', edit_pengguna_path(@pengguna) %> |
<%= link_to 'Back', penggunas_path %>
